body{
    width: 900px !important;
    height: 620px !important;
    padding: 5px 0 0 50px;
    background-color:yellow;
    /* margin-inside: 5px; */
    /* border: 1px solid rgb(236, 195, 195) !important; */
    /* margin: auto !important; */
    

}
.login-form-forgot {
    float: right;
}
.login-form {
    max-width: 450px;

}

.login-form-button {
    width: 80px;
    height: 33px;
    margin: 0 44px 0 180px;
    padding: 5px 18px 5px 16px;
    border-radius: 4px;
    /*background-color: var(--clear-blue);*/
}


.image{

    width: 682px;
    height: 620px;
    margin: 0 0 0 243px;
    padding: 0 0 0 0px;
    object-fit: contain;
    position: absolute;

}
@media screen and  (max-width: 900px){
    .image{
        display: none;
    }
}
.image2{
    margin-top: 25px;
}